*.o
*.so*
*.8
*.skel.h
*.skel.legacy.h
*.skel.nobtf.h
*.swp
*.plist

# build artifacts
debian/.debhelper/
debian/bpftune/
debian/bpftune.debhelper.log
debian/bpftune.postrm.debhelper
debian/bpftune.substvars
debian/debhelper-build-stamp
debian/files
*.prebytepatch
*.preversionpatch

# Ad-hoc patch snapshots (from manual src edits)
*.pre*
